{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "space-before-function-paren": [2, "always"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
